// Colors from https://www.nordtheme.com/docs/colors-and-palettes

// Polar Night
@base00: #2e3440; // black
// @base01: #3b4252; // dark grey
@base02: #434c5e;
@base03: #4c566a; // grey

// Snow Storm
@base04: #d8dee9; // grey
@base05: #e5e9f0; // off white
@base06: #eceff4; // white

// Frost
// @base07: #8fbcbb; // moss green
@base08: #88c0d0; // ice blue
// @base09: #81a1c1; // water blue
// @base0A: #5e81ac; // deep blue

// Aurora
@base0B: #bf616a; // red
// @base0C: #d08770; // orange
@base0D: #ebcb8b; // yellow
@base0E: #a3be8c; // green
// @base0F: #b48ead; // purple

@background: #112a38;
@text: #fff;
@primary: #59d69d;

@highlight-gold: #ffec60;
@highlight-purple: #fa8eea;
@highlight-peach: #ff9797;
@highlight-quote: #40a0d6;

@code-background: #0d202b;
