.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #112a38;
  color: #fff;
}
.editor .CodeMirror-scroll {
  color: #fff;
}
.editor .CodeMirror-gutters {
  background-color: #112a38;
}
.editor .CodeMirror-linenumber {
  color: #4c566a;
  opacity: 0.6;
}
.editor .CodeMirror-selected {
  background-color: #e5e9f0;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #d8dee9;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #2e3440;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #4c566a !important;
  border-bottom: 1px solid #88c0d0 !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #4c566a;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #4c566a;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #4c566a;
}
.editor .CodeMirror-foldmarker {
  border-color: #4c566a;
  background-color: #4c566a;
  color: #434c5e;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.05);
}
.editor .CodeMirror-searching {
  background-color: #ebcb8b;
}
.editor .CodeMirror-searching.searching-current-match {
  background-color: #fa8eea;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3 {
  color: #fa8eea;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2 {
  color: #59d69d;
}
.editor .CodeMirror .cm-url,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #ff9797;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #59d69d;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #59d69d;
}
.editor .CodeMirror .cm-variable {
  color: #59d69d;
}
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #a3be8c;
}
.editor .CodeMirror .cm-comment {
  color: #d8dee9;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #bf616a;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #59d69d;
}
.editor .CodeMirror .cm-link {
  color: #a3be8c;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #fa8eea;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-builtin,
.editor .CodeMirror .cm-tag {
  color: #88c0d0;
}
.editor .CodeMirror .cm-quote {
  color: #40a0d6;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #d8dee9;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #ffec60;
}
.editor .CodeMirror .cm-em {
  color: #fa8eea;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #2e3440;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: #0d202b;
  color: #4c566a;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.01);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #a3be8c;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(236, 239, 244, 0.7) !important;
}
