/*
 * Octopus dark UI theme by Peter Bartha
 */
.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #112a38;
  color: #fff;
}
.editor .CodeMirror-scroll {
  color: #fff;
}
.editor .CodeMirror-gutters {
  background-color: #112a38;
  border-right: 1px solid #3f4757;
}
.editor .CodeMirror-linenumber {
  color: #7b9aad;
  opacity: 0.6;
}
.editor .CodeMirror-selected {
  background-color: #384d50;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #004650;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #40a0d6;
  border-right: 1px solid #40a0d6;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #4c566a !important;
  border-bottom: 1px solid #89caca !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #4c566a;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #4c566a;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #4c566a;
}
.editor .CodeMirror-foldmarker {
  border-color: #4c566a;
  background-color: #4c566a;
  color: #3f4757;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.05);
}
.editor .CodeMirror-searching {
  background-color: #133550;
}
.editor .CodeMirror-searching.searching-current-match {
  background-color: #fa8eea;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3 {
  color: #fa8eea;
}
.editor .CodeMirror .cm-builtin,
.editor .CodeMirror .cm-keyword {
  color: #fa8eea;
}
.editor .CodeMirror .cm-formatting-list.cm-variable-2 {
  color: #59d69d;
}
.editor .CodeMirror .cm-formatting + .cm-keyword,
.editor .CodeMirror .cm-keyword + .cm-keyword {
  color: #fff;
}
.editor .CodeMirror .cm-url,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #ff9797;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #59d69d;
}
.editor .CodeMirror .cm-def {
  color: #40a0d6;
}
.editor .CodeMirror .cm-variable {
  color: #59d69d;
}
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta {
  color: #a3be8c;
}
.editor .CodeMirror .cm-comment {
  color: #7b9aad;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #ff5a5f;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.4;
}
.editor .CodeMirror .cm-header {
  color: #59d69d;
}
.editor .CodeMirror .cm-link {
  color: #a3be8c;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #fa8eea;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-tag {
  color: #59d69d;
}
.editor .CodeMirror .cm-tag.cm-bracket {
  color: #00b5ad;
}
.editor .CodeMirror .cm-quote {
  color: #40a0d6;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #00b5ad;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #ffec60;
}
.editor .CodeMirror .cm-em {
  color: #fa8eea;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #4c566a;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: #0d212d;
  color: #a3be8c;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: #0d212d;
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #a3be8c;
}
.editor .CodeMirror .cm-formatting-link {
  color: #ffec60;
}
.editor .CodeMirror .cm-formatting-link-string {
  color: #fa8eea;
}
.editor .CodeMirror .cm-property,
.editor .CodeMirror .cm-formatting.cm-formatting-task.cm-meta {
  color: #ff9797;
  background: #0d212d;
}
.editor .CodeMirror .cm-searching {
  background: none;
  outline: 1px solid #ffec60;
}
.editor .CodeMirror .cm-formatting-strikethrough {
  color: #ff9797;
}
.editor .CodeMirror .cm-strikethrough {
  text-decoration: line-through #ff9797;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: #0d212d !important;
}
